html {
	background: #003300;
	color: #ccFFcc;
	height: 100%;
}

body {
	font-family: sans-serif;
	background: #005500;
	width: 80%;
	min-height: 80%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0.1em 2em;
}

a {
	color: #99CC99;
}

#snippet-test {
	display: flex;
}

#snippet-test div {
	padding: 1em;
}

#snippet-test p {
	margin-top: 0;
}

#snippet-test textarea, button {
	background: #004400;
	border: none;
	color: #ccFFcc;
	padding: 4px 8px;
	border-radius: 4px;
}

#snippet-test button {
	border: 1px solid #ccFFcc;
}

#css-entry {
	display: flex;
	flex-direction: column;
}

#css-entry button {
	width: 6em;
	margin: auto;
}

#snippet-show {
}

#snippet {
	padding: 2px 4px;
	border: 1px dashed #ccFFcc;
	border-radius: 4px;
}
