{{ define "homepage" -}}
<!doctype html>
<html>
<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/static/wai.css"/>
	<script>
function testcss() {
	// apply css in #css to snippet in #snippet

	// get text element's entry
	const css = document.getElementById('css').value;

	// apply CSS to the example snippet
	const snippetStyle = document.getElementById('snippet-style');
	snippetStyle.textContent = css;

	// get 'encoded' element
	const encoded = document.getElementById('encoded');
	encoded.innerHTML = encodeURIComponent(css);
}
	</script>
</head>
<body>
  <div id='title'>
    <h1>{{ .Title }}</h1>
  </div>
  <div id='content'>

		<p>Wai ("Where Am I") is a service where users can register their status
		and location, similarly to how they might post it in Slack or other
		collaboration tools, and retrieve it as JSON or an embeddable HTML
		snippet, for inclusion in web pages or elsewhere.</p>

		<p>This is the home page of an active Wai service and provides
		documentation on use.</p>

		<h3>Contents</h3>

		<p><ul>
			<li><a href='#api'>API documentation</a></li>
			<li><a href='#snippet'>Embeddable HTML snippets</a></li>
			<li><a href='#resources'>Further reading</a></li>
		</ul></p>

		<a name='api'><h2>API</h2></a>

		<p>Wai's API is real simple.  You can register as a user, you can update
		your status, and you can fetch your status.  That's it.  To clear your
		status you update with blank fields.</p>

		<p>Credentials are a UUID which is given to you when you register with an
		API key you specify.  Currently, you cannot change your key, so don't
		forget it.  If you need to register a new user, go ahead.  This service
		will at some point have some kind of cleanup process whereby users who
		never update their status will get cleaned up.</p>

		<p>The following API invocations use <a href="https://curl.se">Curl</a>, a
		very nice command-line web request client, but you can use whatever you
		know how to use.</p>

		<p>Familiarity with REST, HTTP, and what an API is are required for this
		stuff.  If this isn't you, then there is a GUI client coming along at some
		point.  It already exists, actually, but doesn't yet support registration,
		and so is not appropriate for new users.</p>

		<h3>Register</h3>

		<p>To register, we specify an API key and post to the users collection
		endpoint.  The message we receive in return will give us our user ID.</p>

		<pre>
$ curl -X POST -F "apikey=best key ever" {{ .APIUrl }}/users/
{"id":"24106ed9-9b2e-4506-ac1f-e09b521b4763"}
		</pre>

		<h3>Update status</h3>

		<p>We can now set or update our status (to clear, specify blank fields).
		The Wai server expects this as form data.</p>

		<pre>
$ curl -X PATCH -H "X-API-KEY: best key ever" \
  -F "location=Working remotely" -F "status=Present" \
  -F "status_emoji=$(printf '\U1f7e2')" \
	{{ .APIUrl }}/users/24106ed9-9b2e-4506-ac1f-e09b521b4763
{"location":"Working remotely","status":"Present","status_emoji":"🟢"}
		</pre>

		<p>Oof.  I forgot the <code>status_emoji</code> field can only be
		specified as a two-byte Unicode value: it does not accept text
		representations like <code>:green_circle</code> which is both harder to
		remember and harder to specify on the command line.  This is part of the
		reason there is a half-baked Python client to handle this for you.</p>

		<p>Well, that's what updates are for.</p>

		<h3>Fetch status</h3>

		<p>This is a super simple GET request:</p>

		<pre>
$ curl {{ .APIUrl }}/users/24106ed9-9b2e-4506-ac1f-e09b521b4763
{"location":"Working remotely","status":"Present","status_emoji":"🟢"}
		</pre>

		<a name='snippet'><h2>Embeddable HTML snippet</h2></a>

		<p>Using the Javascript client to embed your status in a web page can
		work, but requires CORS compliance to be made on the server side and some
		Javascript on the client side.  To get around these, the Wai server also
		supports retrieval of a basic HTML snippet.  The above would look like the
		following:</p>

		<pre>
$ curl {{ .ServerUrl }}/users/24106ed9-9b2e-4506-ac1f-e09b521b4763
&lt;div id='wai-user-info'&gt;
	&lt;dl&gt;
		&lt;dt&gt;Location&lt;/dt&gt;
		&lt;dd&gt;Working remotely&lt;/dd&gt;

		&lt;dt&gt;Status&lt;/dt&gt;
		&lt;dd&gt;🟢 Present&lt;/dd&gt;
	&lt;/dl&gt;
&lt;/div&gt;
		</pre>

		<p>You can use this on a website using syntax like the following:</p>

		<pre>
&lt;embed src='{{ .ServerUrl }}/users/24106ed9-9b2e-4506-ac1f-e09b521b4763'
type='text/html' /&gt;
		</pre>

		<p>It will look pretty ugly because definition lists have a pretty awful
		default presentation.  CSS can help but embedded objects are not subject
		to the stylings of the embedding site, except for background colour.
		However, Wai allows you to specify a <code>style</code> query parameter
		which can contain CSS, so long as it's properly URL-encoded.</p>

		<p>This is a bit of a pain so here's a tool you can use.</p>

		<div id='snippet-test'>

			<div id='css-entry'>
				<p>Describe the style here:</p>
				<textarea id='css' name='css' rows='5' cols='30'>
dl {
  font-family: sans-serif;
}
dt {
  float: left;
}
dd {
  float: right;
}
				</textarea>
				<button onclick='javascript:testcss()'>Try it</button>
			</div>

			<div id='snippet-show'>
				<style id='snippet-style'></style>
				<p>And see how it looks here:</p>
				<div id='snippet'>
					<dl>
						<dt>Location</dt>
						<dd>Working remotely</dd>

						<dt>Status</dt>
						<dd>🟢 Present</dd>
					</dl>
				</div>
			</div>

		</div>

		<p>The URL-encoded version: <code id='encoded'><em>(Nothing yet, give it a
		try.)</em></code></p>

		<p>This can then be added to the end of the URL as a query parameter: <code>&lt;embed src='{{ .ServerUrl }}/users/24106ed9-9b2e-4506-ac1f-e09b521b4763?style=dl%7Bfont-family%3Asans-serif%3B%7D' type='text/html' /&gt;</code></p>

		<p>Basically, after the URL, add <code>?style=</code>, followed by the
		URL-encoded style created above.</p>

		<a name='resources'><h2>That's pretty much it</h2></a>

		<p>There isn't much else to it.  If you're interested, or to contact the
		author, visit the following:</p>

		<p><ul>
			<li><a href='https://gitlab.com/dlek/wai'>Source on GitLab</a></li>
			<li><a href='https://www.p0nk.net/software/wai'>Article on
				p0nk.net</a></li>
		</ul></p>

		<p>I hope you (or someone else) finds this useful.</p>

  </div>
</body>
</html>
{{- end }}
