{{ define "userinfo" -}}
<div id='wai-user-info'>
{{- with .Style }}
<style>{{ . }}</style>
{{ end -}}
	<dl>
		<dt>Location</dt>
		<dd>{{ .Location }}</dd>

		<dt>Status</dt>
		<dd>{{ with .StatusEmoji }}{{ . }} {{ end }}{{ .Status }}</dd>
	</dl>
</div>
{{- end }}
